@import url(//db.onlinewebfonts.com/c/6a9c6944fe8451dd397fe9d0763a4c88?family=OCR+A+Std);

body{
    background-color: #2a2a2a;
}

h1{
    text-align: center;
    color: white;
    /* font-family:'Courier New', Courier, monospace, monospace; */
}

h3{
    color: white;
}
ol{
    color: white;
}
a{
    color: orange;
}