<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Coding4Kidz</title>
    <link rel="icon" type="image/x-icon" href="/images/c4klogo.png">

    <link rel="stylesheet" href="/css/style.css">

</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body style="background-color: orange;"><div layout:fragment="content" th:remove="tag">
  <div style=" text-align:center">
    <br>
      <h1>Check out our Upcoming Sessions!</h1>
    <iframe src="https://calendar.google.com/calendar/embed?src=codingkids20%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</div></body>

<style>
    body{
        background-color: orange;
    }
</style>

</html>

