<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Coding4Kidz</title>
      
    <link rel="stylesheet" href="/css/style.css">

</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body>

<div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <h2>Send e-mail to codingkids20@gmail.com:</h2>

    <form action="mailto:codingkids20@gmail.com" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="name"><br>
        E-mail:<br>
        <input type="text" name="mail"><br>
        Comment:<br>
        <input type="text" name="comment" size="50"><br><br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>


</div>
    <!-- End of body content specific to page -->
</div></body>

</html>