<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">


<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</div></head>
<body><div layout:fragment="content" th:remove="tag">
<div align="center" class="col-md-12">
    <h2>Welcome to Student registration page</h2>
    <div class="col-md-6">
        <form action="#" th:action="@{/student}" th:object="${student}" method="post">
            <div class="form-group">
                <label for="ui">User ID:</label>
                <input type="text" class="form-control" id="ui" th:field="*{userId}" />
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            </div>
            <div class="form-group">
                <label for="subjectCount">Subjects Count:</label>
                <input type="number" class="form-control" id="subjectCount" th:field="*{subjectCount}">
                <p class="alert alert-danger" th:if="${#fields.hasErrors('subjectCount')}" th:errors="*{subjectCount}" />
            </div>
            <div class="form-group">
                <label for="grade">Grade:</label>
                <input type="number" class="form-control" id="grade" th:field="*{grade}" />
                <p class="alert alert-danger" th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}" />
            </div>
            <div class="form-group">
                <label for="mobile">Mobile Number:</label>
                <input type="number" class="form-control" id="mobile" th:field="*{mobileNo}" />
                <p class="alert alert-danger" th:if="${#fields.hasErrors('mobileNo')}" th:errors="*{mobileNo}" />
            </div>
            <div class="form-group">
                <label for="bd">Birth Date:</label>
                <input type="date" class="form-control" id="bd" th:field="*{birthDate}" />
                <p class="alert alert-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" />
            </div>

            <div class="form-group" style="text-align: center;">
                <a href="index" type="submit" onclick="run()" style="text-align: center;">Submit</a>
            </div>

            <script>
                function run(){
                    alert("Your student was registered")
                }
            </script>
        </form>
    </div>
</div>
</div>
</body>
</html>